@model List<SistemaVendas.Models.VendaViewModel>;

@{
    ViewData["Title"] = "Vendas";
}

<h2>Vendas Realizadas</h2>
<hr />

<table class="table table-bordered">
    <thead>
        <tr style="background-color:#f6f6f6">
            <th>Código</th>
            <th>Data</th>
            <th>Cliente</th>
            <th>Total da Venda</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick=Editar(@item.Codigo)>
                <td style="cursor:pointer;font-weight:bold">@item.Codigo</td>
                <td style="cursor:pointer;font-weight:bold">@item.Data.ToString("dd/MM/yyyy")</td>
                <td style="cursor:pointer;font-weight:bold">@item.Cliente.Nome</td>
                <td style="cursor:pointer;font-weight:bold">@item.Total</td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-block btn-primary" onclick="Cadastrar()">Cadastrar</button>

<script>
    function Editar(Codigo) {
        console.log(Codigo)
        window.location = window.origin + "\\Venda\\Cadastro\\" + Codigo;
    }


    function Cadastrar() {
        window.location = window.origin + "\\Venda\\Cadastro";
    }


</script>